---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome">
	<nav aria-label="breadcrumb">
		<ul>
			<li><a href="/">Home</a></li>
		</ul>
	</nav>
		<h1>Desired profession</h1>
		<p>
			Description.
		</p>
</Layout>
