---
import Layout from "../layouts/Layout.astro";

const response = await fetch(
	`${import.meta.env.API_ADDRESS}/customer/${import.meta.env.CUSTOMER_ID}`
);
const customer = await response.json();
---

<Layout title="Welcome">
	<nav aria-label="breadcrumb">
		<ul>
			<li><a href="/">Home</a></li>
		</ul>
	</nav>
	<hgroup>
		<h1>{customer.desiredProfession}</h1>
		<h1>{customer.description}</h1>
	</hgroup>
</Layout>
